  <% if @reservation.errors.any? %>
    <ul class="error_list">
      <% @reservation.errors.full_messages.each do |msg| %>
        <Li><%= msg %></li>
    <% end %>
<% end %>
    </ul>

<%= form_for(@reservation) do |f| %>
  <div class="field">
    <%= f.label :eatery %><br>
    <%= f.text_field :eatery %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :party_size %><br>
    <%= f.text_field :party_size %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :time %><br>
    <%= f.time_select :time, ampm: true %>
  </div>
<div>
   <%= f.hidden_field :eatery_id, :value => @eatery %>
   <br>
  <div class="actions">
    <%= f.submit %>
  </div>
<%end%>



<%= link_to 'Back', reservations_path %>
